{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="card mb-3"">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          {% if product.on_sale %}
              <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
          ${{ product.sale_price }}
          {% else %}
              ${{ product.price }}
          {% endif %}

          <div class="row justify-content-center">
            <div class="col-md-2">Quantity: </div>
            <div class="col-md-2">
              <select class="form-select-sm form-select" aria-label="Default select example" id="quantity-product">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>

        <button class="btn btn-secondary" type="button" value="{{ product.id }}" id="add-cart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '#add-cart', function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "cart_add" %}',
      data: {
        product_id: $('#add-cart').val(),
        product_quantity: $('#quantity-product option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post',
      },

      success: function(json) {
        console.log(json);
        document.getElementById('cart-quantity').textContent = json.Quantity;
      },

      error: function(xhr, status, error) {
        console.log(error);
      },
    })
  })
</script>
{% endblock %}
